$susy: (
	columns: 12,
	gutters: 1/4,
	gutter-position: inside
	);

@include layout($susy);

body {
	background:#298545
	@include container(800 px);
}

.work {
	@include span(3);
}

.title {
	border-bottom: solid 5 px #121261;
}
