$susy: (
	columns: 12,
	gutters: 1/4,
	gutter-position: inside
	);

@include layout($susy);

body {
	background:#f3e7e7;
	@include container(80%);
}

.work {
	@include span(3);
}

.title {
	border-bottom:2px solid #121212;
}
