$susy: (
	columns: 12,
	gutters: 1/4,
	gutter-position: inside
	);

@include layout($susy);

body {
	background:#ebebeb;
	@include container(80%);
}

.work {
	@include span(3);
}
.header{
	background:#ffddaa

}

.footer{
	background:#505050;
	@include span(8);
	@include span(4 at 9);
}
.title {
	border-bottom:2px solid #121212;
}
