body {
  background:#ebebeb;
  font-size: 16px;
  font-family:"georgia";
}
// Header&title block --------




#header-links {
  height: 180px;
  padding-top:25px;
  a#banx{
    font-size: 1.99em;
    font-family: "georgia";
  }
  
  a {
    font-family: "PTSans";
    text-decoration: none;
    font-size: 0.75em;
    color: #4f4d6a;
    margin-left:30px;
  }

}

#main-wrapper {
  background-image: url("../images/banx.jpg");
  background-repeat:no-repeat;
  height: 1135px;
  background-size: cover;
}

.title {
  margin: 10px;
  padding-bottom:14px;
  border-bottom: 2px solid #ffffff;
  @include text-font(normal);
  font-size:7.81em;
  font-weight: bold;
  text-align: center;
}
p#osb{
  font-family: "OpenSans-Bold";
  font-size:0.144em;
}
.title-line{
  border-bottom:2px solid #ffffff;
  height:18px;
}

#title-mark1{
  @include text-font(italic);
  text-align:center;
  font-size:1.5em;
}

#title-mark2{
 @include text-font(italic);
 text-align:center;
 font-size:1.125em;
}
#title-work{
  padding-top:20px;
}

#buttons-container {
  padding-top:35px;
  text-align: center;
}
.btn-violet{
  @include button($violet2,$violet1,#4f4d6a);
}

.btn-red{
 @include button($red2,$red1,#927c90);
}

.sm-btn{
  @include sm-button;
}

//Our worx block ------------
#our-worx-wrapper{
  padding-top:80px;
  .title{
    font-size: 4.5em;
  }
}

.circle-div{
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: 25px solid #efefef;
}

.work {
  color:#4f4d6a;
}
p#tit{
    font-size: 1.375em;
  }

#work-container{
  background:#ebebeb;
  padding-top: 40px;
  padding-bottom: 40px;
  font-style: italic;
  font-family:"georgia"; 
}

#work1{
  background: url("../images/work_01.jpg") no-repeat;
  background-position: top center;
}
#work2{
  background: url("../images/work_02.jpg") no-repeat;
  background-position: top center;
}
#work3{
  background: url("../images/work_03.jpg") no-repeat;
  background-position: top center;
}
#work4{
  background: url("../images/work_04.jpg") no-repeat;
  background-position: top center;
}

//  Awesome block ------------
#awe-container{
  background:#ffffff;
  color:#4f4d6a;
  padding-top: 40px;
  padding-bottom: 40px;
  font-style: italic; 
  font-family:"georgia";
}

// Footer block -------------
#footer-container{
  background-color: #505050;
  color:#ffffff;
  font-family: "OpenSans-Regular";
}