@font-face{
	font-family: "PTSans";
	src: url(../font/PTSans.ttf) format("truetype");
}

@font-face{
	font-family: "OpenSans-Regular";
	src: url(../font/OpenSans-Regular.ttf) format("truetype");
}

@font-face{
	font-family: "OpenSans-Bold";
	src: url(../font/OpenSans-Bold.ttf) format("truetype");
}

@font-face{
	font-family: "georgia";
	src: url(../font/georgia.ttf) format("truetype");
}

#osb{
	font-family: "OpenSans-Bold";
}