$blue : #ffddaa;
$violet1:#484d6a;
$violet2:#6e6c8a;
$red1:#9c8394;
$red2:#d0c2ca;

@mixin button($color1, $color2, $border-color) {
	display: inline-block;
	margin: 0 10px;
	width: 220px;
	height: 44px;
	background: linear-gradient($color1, $color2);
	border:1px solid $border-color;
	border-radius:25px;
	box-shadow: 1px 1px 1px #131313;
	color:#ffffff;
	text-align: center;
	line-height: 44px;
	font-style: italic;
}

@mixin text-font($style){
	font-family:"Times New Roman",Georgia,Serif;
	color:#4f4d6a;
	font-style: $style;	
	text-align:center;
	font-style: oblique;
	font-weight:bold;

}

@mixin sm-button {
	width: 100px;
	height: 22px;
	background-color:#4f4d6a;
	border-radius:5px;
	color: white;
	font-style: oblique;
	text-align:center;
}
