    <head>
      <!-- <link rel="stylesheet" href="styles/main.css"> -->
    </head>
    <body>
      <div id="main-wrapper" class="section-wrapper">
        <section class="container" >
          <div id="header-links"> 
            <div class="header-col">
             <a href="#" id="banx"><i>b</i>anx</a>
           </div>
           <div class="header-col">
             <a href="#">DESIGN</a>
             <a href="#">WEB DESIGN</a>
             <a href="#">GRAPHIC DESIGN</a>
             <a href="#">PRINT DESIGN</a>
             <a href="#">VIDEO DESIGN</a>
           </div>
         </div>

         <div>
          <div class="title-line"> </div>
          <div class="title-mark" id="title-mark1"> WE ARE </div>
          <div class="title-line"></div>
          <div class="title">  
            STUDIO BANX
            <p id="osb">  
             A CREATIVE WEB & PRINT DIGITAL AGENCY BUILT ON METHOD AND CREATIVE JUICES
           </p>
         </div>
       </div>

       <div id="buttons-container">
         <div class="btn-violet">
           See our work
         </div>
         <div class="btn-red">
           Meet our team     
         </div>
       </div>
     </section> 
   </div>

   <section class="container" >
     <!-- Our worx -->
     <div id="our-worx-wrapper" class="section-wrapper">
      <div class="title-line"> </div>
      <div class="title-mark" id="title-mark2"> CHECK OUT </div>
      <div class="title-line"> </div>
      <div class="title" id="title-work">   OUR WORX   </div>
    </div>
  </section>

  <div id="work-container">
    <div class="container">
      <div class="work"> 
        <div class="circle-div" id="work1"> </div>
        <p id="tit"> Desire </p>
        Duis bibendum gravida eros, bibendum1 problem
        Warning: Task "jshint:all" failed. Use --force to continue.
        Aborted due to warnings. accumsan tellus feugiat ut. Donec porta tellus lorem, sit amet elementum nisi blandit nec. Nulla placerat convallis tellus. 
      </div>

      <div class="work">  <div class="circle-div" id="work2"> </div>
       <p id="tit"> Aspiration </p>
      Nam fringilla sodales nisl, ac gravida libero rutrum a. Aenean posuere felis vel nunc rhoncus, nec posuere dui sollicit1 problem     Warning: Task "jshint:all" failed. Use --force continue. Aborted warnings.udin. 
    </div>

    <div class="work"> 
      <div class="circle-div" id="work3"> </div>
       <p id="tit"> Design </p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.    P raesent ut risus velit. Phasellus euismod egestas justo eu viverra. 1 problem
    </div>

    <div class="work"> 
      <div class="circle-div" id="work4"> </div>
       <p id="tit"> Lust </p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis e Duis bibendum gravida eros, bibendum1 problem
      Warning: Task "jshint:all" failed. Use --force to continue.
      Aborted due to warnings. accumsan tellus feugiat ut. Donec porta tellus lorem, sit amet elementum nisi blandit nec. Nulla placerat convallis tellus. 
    </div>
     <div class="title">   </div>
    <div id="buttons-container">
     <div class="btn-violet">
       See our work
     </div>
     <div class="btn-red">
       Meet our team     
     </div>
   </div>
 </div>
</div>

<!-- Awesome -->
<div id="awe-container">
  <div class="container">
     <p id="tit"> What makes us so awesome</p>
    <div class="awesome">11
      Phasellus condimentum ultrices nunc quis commodo. Etiam non velit vel urna viverra porta. Sed accumsan aliquam ullamcorper. Nunc et consectetur lectus.  Duis bibendum gravida eros, bibendum1 problem
      Warning: Task "jshint:all" failed. Use --force to continue.
      Aborted due to warnings. accumsan tellus feugiat ut. Donec porta tellus lorem, sit amet elementum nisi blandit nec. Nulla placerat convallis tellus. 
      <div class="sm-btn">View more</div>
    </div>
    <div class="awesome">12
      Phasellus condimentum ultrices nunc quis commodo. Etiam non velit vel urna viverra porta. Sed accumsan aliquam ullamcorper. Nunc et consectetur lectus.  Duis bibendum gravida eros, bibendum1 problem
      Warning: Task "jshint:all" failed. Use --force to continue.
      Aborted due to warnings. accumsan tellus feugiat ut. Donec porta tellus lorem, sit amet elementum nisi blandit nec. Nulla placerat convallis tellus. 
      <div class="sm-btn">View more</div>
    </div>
    <div class="awesome">13
      Phasellus condimentum ultrices nunc quis commodo. Etiam non velit vel urna viverra porta. Sed accumsan aliquam ullamcorper. Nunc et consectetur lectus.  Duis bibendum gravida eros, bibendum1 problem
      Warning: Task "jshint:all" failed. Use --force to continue.
      Aborted due to warnings. accumsan tellus feugiat ut. Donec porta tellus lorem, sit amet elementum nisi blandit nec. Nulla placerat convallis tellus.
      <div class="sm-btn">View more</div> 
    </div>
  </div>
</div>
<div id="footer-container">
  <div class="container">
   <p id="tit"> What makes us so awesome</p>
    <div class="foot1">footer left_
      Phasellus condimentum ultrices nunc quis commodo. Etiam non velit vel urna viverra porta. Sed accumsan aliquam ullamcorper. Nunc et consectetur lectus.  Duis bibendum gravida eros, bibendum1 problem
      Warning: Task "jshint:all" failed. Use --force to continue.
      Aborted due to warnings. accumsan tellus feugiat ut. Donec porta tellus lorem, sit amet elementum nisi blandit nec. Nulla placerat convallis tellus. 

    </div>

    <div class="foot2"> footer right_
      Pr. Nunc et consectetur lectus. etur adipiscing elit.  Duis bibendum gravida eros, bibendum1 problem
      Warning: Task "jshint:all" failed. Use --force to continue.
      Aborted due to warnings. accumsan tellus feugiat ut. Donec porta tellus lorem, sit amet elementum nisi blandit nec. Nulla placerat convallis tellus. Praesent ut risus velit. Phasellus euismod egestas justo 



    </div>
    <a href="../views/test_page_my.html"> Click... Here I am studying Susy etc.</a>
    Copyright
  </div>
</div>

</body>