    <head>
      <link rel="stylesheet" href="styles/main.css">
    </head>
    <body>

      <div class="container" >

      <div class="header">
        <a href="../views/test_page_my.html"> Click... Here I am studying Susy etc.</a>
        sffsdfsf

      </div>

      <div class="title">
       <h1> STUDIO BANX</h1>
     </div>
   </div>
   <!-- Our worx -->
   <div id="work-container">
    <div class="container">
      <div class="work">1 
        <div class="circle-div" id="work1"> </div>
        Duis bibendum gravida eros, bibendum1 problem
        Warning: Task "jshint:all" failed. Use --force to continue.
        Aborted due to warnings. accumsan tellus feugiat ut. Donec porta tellus lorem, sit amet elementum nisi blandit nec. Nulla placerat convallis tellus. 
      </div>

      <div class="work">2  <div class="circle-div" id="work2"> </div>
      Nam fringilla sodales nisl, ac gravida libero rutrum a. Aenean posuere felis vel nunc rhoncus, nec posuere dui sollicit1 problem     Warning: Task "jshint:all" failed. Use --force continue. Aborted warnings.udin. 
    </div>

    <div class="work">3 <div class="circle-div" id="work3"> </div>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.    P raesent ut risus velit. Phasellus euismod egestas justo eu viverra. 1 problem
  </div>

  <div class="work">4 <div class="circle-div" id="work4"> </div>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis e Duis bibendum gravida eros, bibendum1 problem
  Warning: Task "jshint:all" failed. Use --force to continue.
  Aborted due to warnings. accumsan tellus feugiat ut. Donec porta tellus lorem, sit amet elementum nisi blandit nec. Nulla placerat convallis tellus. 
</div>
</div>
</div>

<!-- Awesome -->
<div id="awe-container">
  <div class="container">
    <div class="awesome">11
      Phasellus condimentum ultrices nunc quis commodo. Etiam non velit vel urna viverra porta. Sed accumsan aliquam ullamcorper. Nunc et consectetur lectus.  Duis bibendum gravida eros, bibendum1 problem
      Warning: Task "jshint:all" failed. Use --force to continue.
      Aborted due to warnings. accumsan tellus feugiat ut. Donec porta tellus lorem, sit amet elementum nisi blandit nec. Nulla placerat convallis tellus. 
    </div>
    <div class="awesome">12
      Phasellus condimentum ultrices nunc quis commodo. Etiam non velit vel urna viverra porta. Sed accumsan aliquam ullamcorper. Nunc et consectetur lectus.  Duis bibendum gravida eros, bibendum1 problem
      Warning: Task "jshint:all" failed. Use --force to continue.
      Aborted due to warnings. accumsan tellus feugiat ut. Donec porta tellus lorem, sit amet elementum nisi blandit nec. Nulla placerat convallis tellus. 
    </div>
    <div class="awesome">13
      Phasellus condimentum ultrices nunc quis commodo. Etiam non velit vel urna viverra porta. Sed accumsan aliquam ullamcorper. Nunc et consectetur lectus.  Duis bibendum gravida eros, bibendum1 problem
      Warning: Task "jshint:all" failed. Use --force to continue.
      Aborted due to warnings. accumsan tellus feugiat ut. Donec porta tellus lorem, sit amet elementum nisi blandit nec. Nulla placerat convallis tellus. 
    </div>
  </div>
</div>
<div id="footer-container">
  <div class="container">
    <div class="foot1">footer left_
      Phasellus condimentum ultrices nunc quis commodo. Etiam non velit vel urna viverra porta. Sed accumsan aliquam ullamcorper. Nunc et consectetur lectus.  Duis bibendum gravida eros, bibendum1 problem
      Warning: Task "jshint:all" failed. Use --force to continue.
      Aborted due to warnings. accumsan tellus feugiat ut. Donec porta tellus lorem, sit amet elementum nisi blandit nec. Nulla placerat convallis tellus. 
    </div>

    <div class="foot2"> footer right_
      Pr. Nunc et consectetur lectus. etur adipiscing elit.  Duis bibendum gravida eros, bibendum1 problem
      Warning: Task "jshint:all" failed. Use --force to continue.
      Aborted due to warnings. accumsan tellus feugiat ut. Donec porta tellus lorem, sit amet elementum nisi blandit nec. Nulla placerat convallis tellus. Praesent ut risus velit. Phasellus euismod egestas justo 
    </div>
  </div>
</div>

</body>